<nz-page-header nzTitle="Content List" style="margin-bottom: 40px">
</nz-page-header>

<div style="display: flex; margin-bottom: 10px">
  <div style="flex: 1 1 0%"></div>
  <div style="display: flex">
    <nz-input-group nzPrefixIcon="filter">
      <input nz-input placeholder="filter by content" #txtSearch />
    </nz-input-group>
    <button
      nz-button
      nzType="primary"
      (click)="search = txtSearch.value; refreshData()"
    >
      <i nz-icon nzType="search" nzTheme="outline"></i>Filter
    </button>
  </div>
</div>

<nz-table
  nzShowSizeChanger
  nzSize="middle"
  [nzData]="contentList"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  [nzShowSizeChanger]="false"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th>Id</th>
      <th>Domain</th>
      <th nzColumnKey="Link.title" [nzSortFn]="true">Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of contentList">
      <td>
        <a [href]="data.linkUrl" target="_blank">{{ data.linkId }}</a>
      </td>
      <td>
        {{ data.linkUrl | domainName }}
      </td>
      <td>
        <a
          (click)="
            router.navigate(['dashboard', 'content'], {
              queryParams: { linkId: data.linkId }
            })
          "
          >{{ data.linkTitle }}</a
        >
      </td>
    </tr>
  </tbody>
</nz-table>
