<nz-page-header nzTitle="Content List"> </nz-page-header>

<ng-container *ngIf="vm$ | async as vm">
  <table-search
    [searchText]="vm.pager.search"
    (table_search)="search($event)"
    (table_refresh)="refresh()"
  ></table-search>

  <nz-table
    nzShowSizeChanger
    nzSize="small"
    [nzData]="vm.result"
    [nzFrontPagination]="false"
    [nzLoading]="vm.loading"
    [nzTotal]="vm.total"
    [nzPageSize]="vm.pager.pageSize"
    [nzPageIndex]="vm.pager.pageIndex"
    [nzShowSizeChanger]="false"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th>Id</th>
        <th>Domain</th>
        <th nzColumnKey="Link.title" [nzSortFn]="true">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of vm.result">
        <td>
          <a [href]="data.linkUrl" target="_blank">{{ data.id }}</a>
        </td>
        <td>
          {{ data.linkUrl | domainName }}
        </td>
        <td>
          <a
            (click)="
              router.navigate(['dashboard', 'content'], {
                queryParams: { id: data.id }
              })
            "
            >{{ data.linkTitle }}</a
          >
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
