<nz-page-header
  nzBackIcon
  style="margin-bottom: 40px"
  [nzTitle]="domainHome | domainName"
>
</nz-page-header>

<form nz-form [formGroup]="form">
  <div style="display: none">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">Scrap Index Method</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="scrapIndexMethod">
          <label nz-radio nzValue="web">Web</label><br />
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Scrap Index Paging</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-radio-group formControlName="scrapIndexPaging">
        <label nz-radio nzValue="single">Single</label>
        <label nz-radio nzValue="paging">Paging</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <div style="display: none">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">Scrap Index Format</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="scrapIndexFormat">
          <label nz-radio nzValue="html">HTML</label><br />
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="indexUrl"
      >Index URL</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="indexUrl"
        formControlName="indexUrl"
        placeholder="ex: index.html, index.php, index-list etc"
      />
    </nz-form-control>
  </nz-form-item>
  <div style="display: none">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="indexFeedUrl"
        >Index Feed URL</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          id="indexFeedUrl"
          formControlName="indexFeedUrl"
          placeholder="ex: index/feed"
        />
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="indexPath"
      >Index path</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="indexPath"
        formControlName="indexPath"
        placeholder="ex: main article.index a"
      />
    </nz-form-control>
  </nz-form-item>
  <div style="display: none">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nextPath"
        >Next path</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          id="nextPath"
          formControlName="nextPath"
          placeholder="ex: main a.next"
        />
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Scrap Article Method</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-radio-group formControlName="scrapArticleMethod">
        <label nz-radio nzValue="web">Static HTML</label>
        <label nz-radio nzValue="spa">Dynamic HTML</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <div style="display: none">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">Scrap Article Format</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="scrapArticleFormat">
          <label nz-radio nzValue="html">HTML</label><br />
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="articlePath"
      >Article path</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="articlePath"
        formControlName="articlePath"
        placeholder="ex: main article"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="headerPath"
      >Header path</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="headerPath"
        formControlName="headerPath"
        placeholder="ex: main article h1"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="categoryPath"
      >Category path</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="categoryPath"
        formControlName="categoryPath"
        placeholder="ex: main article.categories"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="publishDatePath"
      >Publish Date Path</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="publishDatePath"
        formControlName="publishDatePath"
        placeholder="ex: main .publish-date"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imagePath"
      >Image Path</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="imagePath"
        formControlName="imagePath"
        placeholder="ex: img.main"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button
        nz-button
        nzType="primary"
        style="margin-left: 8px"
        (click)="save()"
      >
        <i nz-icon nzType="save"></i>Save Settings
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
