<nz-page-header
  style="margin-bottom: 40px"
  nzTitle="Domain List"
  nzSubtitle="registered web domain"
>
</nz-page-header>

<nz-table
  nzShowSizeChanger
  [nzData]="domainList"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageIndex]="pageIndex"
  [nzShowSizeChanger]="false"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="home" [nzSortFn]="true">Domain</th>
      <th>Index</th>
      <th>Content Path</th>
      <th>Category Path</th>
      <th>Header Path</th>
      <th>Admin Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of domainList">
      <td><a [href]="data.home" target="_blank">{{ data.home }}</a></td>
      <td><a [href]="data.home + data.indexUrl" target="_blank">{{ data.indexUrl }}</a></td>
      <td>{{ data.contentPath }}</td>
      <td>{{ data.categoryPath }}</td>
      <td>{{ data.headerPath }}</td>
      <td>{{ data.adminEmail }}</td>
      <td>
        <a (click)="edit(data.id)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this domain?"
          nzPopconfirmPlacement="left"
          nzOkText="Delete"
          nzCancelText="Cancel"
          (nzOnConfirm)="delete(data.id)"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</nz-table>
