<nz-page-header
  style="margin-bottom:40px;"
  nzTitle="Domain Register"
  nzSubtitle="web domain to scrap"
>
</nz-page-header>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="home" nzRequired
      >Domain url</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="home"
        formControlName="home"
        placeholder="https://madipta.github.io/"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label
      [nzSm]="6"
      [nzXs]="24"
      nzFor="indexUrl"
      nzTooltipTitle="Relative index url path (without http/s & domain)"
      >Index page</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="indexUrl"
        formControlName="indexUrl"
        placeholder="index.html, index.php, index-list etc"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label
      [nzSm]="6"
      [nzXs]="24"
      nzFor="contentPath"
      nzTooltipTitle="HTML path to content element"
      >Content path</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="contentPath"
        formControlName="contentPath"
        placeholder="main article.post"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label
      [nzSm]="6"
      [nzXs]="24"
      nzFor="categoryPath"
      nzTooltipTitle="HTML path to category element"
      >Category path</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="categoryPath"
        formControlName="categoryPath"
        placeholder="main article.categories"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label
      [nzSm]="6"
      [nzXs]="24"
      nzFor="headerPath"
      nzTooltipTitle="HTML path to header title element"
      >Header path</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input
        nz-input
        id="headerPath"
        formControlName="headerPath"
        placeholder="main article h1"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="adminEmail"
      >Admin email</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="The input is not valid E-mail!"
    >
      <input nz-input formControlName="adminEmail" id="adminEmail" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Register</button>
    </nz-form-control>
  </nz-form-item>
</form>
