.login_page {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  height: 100%;
  padding: 0 25px;
}

.login_form {
  display: flex;
  flex-direction: column;
  background-color: #e2edff;
  width: 100%;
  max-width: 350px;
  padding: 20px 25px 0px;
  border: 1px solid rgb(177, 198, 255);
  border-radius: 8px;
  margin: auto;
}

h1 {
  font-weight: 500;
  line-height: 1em;
  padding: 0;
  margin: 0 0 30px;
}

input {
  border: 1px solid #9fbeff;
  padding: 6px 10px;
  border-radius: 3px;
  margin-bottom: 6px;
}

button {
  background-color: #c0d7ff;
  border: 1px solid #9fbeff;
  padding: 6px 10px;
  border-radius: 3px;
  margin-top: 12px;
}

.login_error {
  color: red;
  text-align: center;
  margin-top: 10px;
}