<nz-page-header nzTitle="Scrape Job List"></nz-page-header>

<ng-container *ngIf="vm$ | async as vm">
  <table-search
    [searchText]="vm.pager.search"
    (table_search)="search($event)"
    (table_refresh)="refresh()"
  ></table-search>

  <nz-table
    nzShowSizeChanger
    nzSize="small"
    [nzData]="vm.result"
    [nzFrontPagination]="false"
    [nzLoading]="vm.loading"
    [nzTotal]="vm.total"
    [nzPageSize]="vm.pager.pageSize"
    [nzPageIndex]="vm.pager.pageIndex"
    [nzShowSizeChanger]="false"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th nzColumnKey="url" [nzSortFn]="true">URL</th>
        <th>Status</th>
        <th nzColumnKey="created_at" [nzSortFn]="true">Created At</th>
        <th nzColumnKey="finished_at" [nzSortFn]="true">Finished At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of vm.result">
        <td>
          <a [href]="data.url" target="_blank">{{ data.url | link }}</a>
        </td>
        <td>{{ data.status }}</td>
        <td style="white-space: nowrap;">{{ data.createdAt | date: "MMM, d HH:mm:ss" }}</td>
        <td style="white-space: nowrap;">{{ data.finishedAt | date: "MMM, d HH:mm:ss" }}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
