nz-header {
  position: fixed;
  width: 100%;
}

nz-content {
  padding: 0 30px;
  margin-top: 64px;
}

.inner-content {
  background: #fff;
  min-height: 300px;
  padding: 0 30px;
}

nz-footer {
  color: rgba(26, 53, 73, 0.7);
  font-size: 0.765em;
  line-height: 1.2em;
  text-align: center;
  padding: 12px 0 12px;
  margin-top: 50px;
}
