<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzCollapsedWidth]="0"
  >
    <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-menu">
      <li nz-menu-item>
        <i nz-icon nzType="cloud"></i>
        <span><a routerLink="domain-list">Domain</a></span>
      </li>
      <li nz-submenu nzOpen nzTitle="Links" nzIcon="link">
        <ul>
          <li nz-menu-item>
            <a routerLink="link-list">List</a>
          </li>
          <li nz-menu-item>
            <a routerLink="link-update">Update</a>
          </li>
          <li nz-menu-item>
            <a routerLink="link-scrap">Scrap Content</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="solution"></i>
        <span><a routerLink="content-list">Content List</a></span>
      </li>
      <li nz-submenu nzTitle="Jobs" nzIcon="setting">
        <ul>
          <li nz-menu-item>
            <a routerLink="jobs-list">List</a>
          </li>
          <li nz-menu-item>
            <a routerLink="jobs-settings">Settings</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div style="display: flex; padding-right: 16px">
        <div style="flex: 1 1 0%">
          <a (click)="isCollapsed = !isCollapsed">
            <i
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </a>
          <span style="margin-left: 10px">Web Scraper</span>
        </div>
        <a (click)="router.navigate([''])">
          <i nz-icon nzType="poweroff" nz-tooltip nzTooltipTitle="scrap"></i>
          <span style="padding-left: 4px">Signout</span>
        </a>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Web Scraper ©2021 Implement By Madipta</nz-footer>
  </nz-layout>
</nz-layout>
