<nz-layout>
  <nz-header nzTheme="dark">
    <nz-row>
      <nz-col [nzSpan]="4" style="color: aliceblue; font-size: 1.4rem;">
        <b>Web Scraper</b>
      </nz-col>
      <nz-col [nzSpan]="16" [nzOffset]="1">
        <ul nz-menu nzMode="horizontal" nzTheme="dark" style="border: none">
          <li nz-menu-item>
            <i nz-icon nzType="cloud"></i>
            <span><a routerLink="domain-list">Domain</a></span>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="solution"></i>
            <span><a routerLink="content-list">Content List</a></span>
          </li>
          <li nz-submenu nzTitle="Jobs" nzIcon="setting">
            <ul>
              <li nz-menu-item>
                <a routerLink="jobs-list">List</a>
              </li>
              <li nz-menu-item>
                <a routerLink="jobs-settings">Settings</a>
              </li>
            </ul>
          </li>
        </ul>
      </nz-col>
      <nz-col [nzSpan]="3" style="text-align: right">
        <a (click)="router.navigate([''])" style="margin-right: 16px">
          <i nz-icon nzType="poweroff" nz-tooltip nzTooltipTitle="scrap"></i>
          <span style="padding-left: 4px">Signout</span>
        </a>
      </nz-col>
    </nz-row>
  </nz-header>
  <nz-content>
    <nz-row style="padding: 16px 0 32px">
      <nz-col [nzSpan]="3" [nzOffset]="12">
        <nz-statistic [nzValue]="9999999" [nzTitle]="'Jobs'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="3">
        <nz-statistic
          [nzValue]="888"
          [nzTitle]="'Loading Error'"
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="3">
        <nz-statistic
          [nzValue]="999"
          [nzTitle]="'Scraping Error'"
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="3">
        <nz-statistic [nzValue]="666666" [nzTitle]="'Success'"></nz-statistic>
      </nz-col>
    </nz-row>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Web Scraper ©2021 Implement By Madipta</nz-footer>
</nz-layout>
